.prodMainContainer{
    background-color: #ffff;
    padding: 15px;
    border-bottom: 1px solid lightgray;
    height: 100vh;
    display: flex;
}
.singleProLeftSide{
    display: flex;
    height: 85vh;
    position: relative;
   
}
.imageContainer{
width: 40%;
height: 100vh;
}

.imgMap{
    width: 15%;
}
.imgDiv{
    height: 12%;
    padding: 5px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f0f0f0;
    cursor: pointer;
}
.imgDiv img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    text-align: center;
    padding: 5px;
}
.activeShowImg{
    border: 2px solid #2874f0;
}
.showImg{
    width: 85%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f0f0f0;
   position: relative;
   cursor: pointer;
}
.showImg img{
    margin: 0 50px;
    width: 100%;
    height: 90%;
   
}

.cartBtn{
    display: flex;
    justify-content: end;
    gap: 20px;
    margin: 10px 0;
}
.cartBtn button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 15.7vw;
    font-size: 1rem;
   
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    transition: box-shadow .2s ease;
    cursor: pointer;
}
.cartBtn button:hover{
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.12)
}
.cartBtn button:first-child{
    background-color: #FF9F00;
    color: #ffff;
    font-weight: 500;
}
.cartBtn button:last-child{
    background-color: #FB641B;
    color: #ffff;
    font-weight: 550;
}
.fav{
position: absolute;
top: 2rem;
right: 1.5rem;
background-color: #ffff;
padding: 10px 12px 7px 12px;
border-radius: 50%;
box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
border: 1px solid #e0e0e0;
display: flex;
align-items: center;
justify-content: center;
}


/* right side style from here */

.discription{
    width: 60%;
    max-height: 100vh;
    overflow-y: hidden;
    overflow-y: scroll;
   
    padding: 10px 0 10px 20px;
}
.discription::-webkit-scrollbar{
    display: none;
}
.prodDetails span{
     font-size: 1.2rem;
}
.rateDiv{
    display: flex;
    gap: 10px;
    margin: 10px 0;
    align-items: center;
}.rateDiv img{
    width: 6vw;
}
.rateDiv div{
    background-color: green;
    color: #fff;
     padding: 3px 5px;
     border-radius: 4px;
     display: flex;
     align-items: center;
     gap: 2px;
     
}
.rateDiv span{
    color: #878787;
    font-size: 1rem;
}
.priceDiv{
    display: flex;
    align-items: baseline;
    padding-top: 8px;
    gap: 10px;
}
.priceDiv :first-child{
    font-size: 2rem;
    font-weight: 500;
}
.priceDiv span{
    font-size: 1rem;
    color: #878787;
    text-decoration: line-through;
}
.priceDiv div:last-child{
    color: green;
}
.offerDiv{
    margin-top: 15px ;
}

.offerDiv div{
 display: flex;
 flex-direction: column;
 margin: 10px 0;
 gap: 10px;
}
.offerDiv div span{
    font-size: .9rem;
    display: flex;
    gap: 10px;
}
.offerDiv div span span{
    color: #2874f0;
    font-weight: 500;
}
.deliver{
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-top: 2rem;
}
.deliver span{
    color: gray;
    font-size: 1rem;
    font-weight: 500;
}
.loc{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #2874f0; 
    padding: 5px 0;
}
.loc input{
    border: none;
    padding: 0 10px ;
    font-weight: 500;
    font-size: 0.9rem;
}
.loc button{
    background: none;
    border: none;
    color: #2874f0;
    font-size: 1rem;
    cursor: pointer;
}
.service span:first-child{
    padding: 1px 5px;
    border-radius: 50%;
    color: #fff;
    background-color: #2874f0;
    font-size: 12px;
    margin-right: 10px;
}
.service span:last-child{
    font-size: .9rem;
    font-weight: 400;
    color: black;
}
.impt{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
.impt div{
    font-size: 1rem;
    width: 8vw;
    color: gray;
    font-weight: 500;

}
.impt span{
    font-size: .9rem;
}
.desc{
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
}
.desc div:first-child{
    color: gray;
    font-weight: 500;
}
.spTable{
    border: 1px solid #e0e0e0;
    margin-top: 2rem;
}
.spTable div:first-child{
    padding: 2rem;
    border: 1px solid #e0e0e0;
    color: black;
    font-size: 1.8rem;
    font-weight: 500;
}
.spTable div:nth-child(2){
    padding: 2rem;
    border: 1px solid #e0e0e0;
}
.spTable div{
    padding: 2rem;
}
.spTable table{
    margin: 20px 0;
}
.tbody{
  display: flex;
  padding: 15px 0;
}
.gnTable{
    border: 1px solid #e0e0e0;
}
.tbody td:first-child{
    /* border: 1px solid #e0e0e0; */
    width: 30%;
}
.tbody td:last-child{
    /* border: 1px solid #e0e0e0; */
    width: 70%;
    display: flex;
    align-items: stretch;
}
.inBox{
    display: flex;
    gap: 11rem;
}

/* review section style from here */

.reviewSection{
    border: 1px solid #e0e0e0;
    margin-top: 2rem;
}
.rateTopDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
.rateTopDiv div{
    font-size: 1.6rem;
    font-weight: 500;
}
.rateTopDiv button{
    padding: 1rem 2rem;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    border: 1px solid #e0e0e0;
    font-size: 1rem;
    border-radius: 5px;
}

.rateBar{
    padding: 0 2rem ;
}

.rateBar div:first-child{
    display: flex;
    align-items: center;
    /* margin-left: 1rem; */
    /* border: 1px solid #e0e0e0; */
}
.totalRate{
    /* border: 1px solid #e0e0e0; */
    width: 10vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.totalRate div:first-child{
    /* border: 1px solid #e0e0e0; */
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 3rem;
}
.totalRate span{
    color: gray;
    font-size: 1rem;
}

.star li{
    font-size: .9rem;
    /* margin: 5px 0; */
    /* border: 1px solid #e0e0e0; */
}

/* ratingProgressBar style fromhere */

.prgress_bar{
    width: 100%;
    height: 7px;
    border-radius: 10px;
    background-color: #e0dfdf;
    /* border: 1px solid red; */
    /* margin: 0 50px ; */
    
}
.progress_fill{
    height: 100%;
    /* width: 100%; */
    border-radius: 10px;
    /* background-color: #2874f0; */
}

/* // */

.Rtbar{
    display: flex;
    margin-left: 10px;
}
.bars{
    /* border: 1px solid #e0e0e0; */
    margin-left: 10px;
    width: 17vw;
}
.bars li{
    margin: 16px 0;
}
.noOfReview{
    /* margin-left: 1rem; */
    padding: 5px;
}
.noOfReview span{
    font-size: .9rem;
   color: #878787;
   
}
.noOfReview li{
    margin: 5px 0;
}

/* feedback style from here */

.feedback{
    padding: 2rem;
}
.feedbackImgs{
    /* border: 1px solid #e0e0e0; */
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}
.feedbackImgs img{
   height: 100%;
   width: 100%;
    object-fit: cover;
    border-radius: 4px;
    /* border: 1px solid red; */
}
.uplaodedimg{
    /* border: 1px solid #e0e0e0; */
    margin: 4px;
    height: 100px;
    width: 100px;
    position: relative;
}
.remainingCount{
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
}
.feedbackAllImgs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.feedbackAllImgs img{
    height: 100%;
    width: 100%;
     object-fit: cover;
     border-radius: 4px;
     /* border: 1px solid red; */
 }
.uplaodedAllImg{
    margin: 5px;
    height: 130px;
    width: 150px;
}

/* userReview style from here */

.userReview{
    padding: 2rem;
    border: 1px solid #e0e0e0;
}
.row{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.row div:first-child{
    background-color: green;
    color: #fff;
     padding: 2px 5px;
     border-radius: 4px;
     display: flex;
     align-items: center;
     gap: 2px;
}
.row span{
    font-weight: 500;
}
.userImgconter{
    /* border: 1px solid #e0e0e0; */
    height: 12vh;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
}
.userImg{
    height: 100%;
    margin: 3px;
}
.userImg img{
    height: 100%;
    width: 5vw;
    border-radius: 3px;
}
.userDetailsDiv{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.userName{
    display: flex;
    gap: 10px;
    color: #878787;
}
.likeDiv{
    color: #878787;
    display: flex;
   
    gap: 30px;
}
.likeDiv span{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* write-review style from here */

.mainwapperReview{
    padding: 1rem;
}
.reviwProd{
    background-color: #FFFFFF;
    /* box-shadow: 0 1px 2px 0 rgba(0,0,0,.1); */
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rateRev{
   font-size: 1.5rem;
   font-weight: 500;
}
.prDiv{
    display: flex;
    align-items: center;
}
.revImgDiv{
    width:5vw;
    height: 12vh;
}
.revImgDiv img{
    width: 100%;
}
.revProdTitle{
    width: 16vw;
}
.revProdTitle div:first-child{
    font-size: 1.1rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.revRateDiv{
    margin-top: .2rem;
    display: flex;
    padding-left: 30%;
}
.revRateDiv div:first-child{
    background-color: green;
    color: #fff;
     padding: 3px 5px;
     border-radius: 4px;
     display: flex; 
     align-items: center;
     gap: 2px;
     font-size: .8rem;
}
.revRateDiv div:last-child{
    color: #878787;
}

.bottomSec{
    display: flex;
    gap: .5rem;
    margin-top: .6rem;
}
.whatRev{
    width: 28%;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}
.whatRev div:first-child{
    border-bottom: 1px solid #e0e0e0;
    padding: 1.5rem ;
    font-size: 1.2rem;
    font-weight: 500;
}
.revFormSec{
    width: 72%;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}
.quesDiv{
    border-bottom: 1px solid #e0e0e0;
    padding: 1rem 1.5rem ;
}
.quesDiv span{
    font-size: 1.2rem;
}
.quesDiv p{
  font-size: .95rem;
  padding: .5rem 0;
} 

.starDiv{
    padding: 1.5rem;
    border-bottom: 2px solid #e0e0e0;
}
.starDiv div:first-child{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.selStar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.selStar div{
    /* border: 1px solid red; */
    width: 13vw;
}
.desDiv{
    padding: 1.5rem;
}
.desDiv div:first-child{
    font-size: 1.2rem;
    font-weight: 500;
}
.revDesc{
    border: 1px solid #e0e0e0;
    padding: 1rem;
    margin-top: 1rem;
}
.desErr{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.revDesc textarea{
    width: 100%;
    border: none;
    padding: .2rem 0;
    resize: none;
    font-size: 1rem;
}
.titleDiv{
    border: 1px solid #e0e0e0;
    padding: 1rem;
}

/* write-review end  */