.mainCartContainer{
    padding: 2rem 1rem;
    display: flex;
    gap: 20px;
}

.mainLeft{
    border: 1px solid #e0e0e0;
    width: 70%;
    height: auto;
}

.cartType{
    height: 11vh;
    margin-bottom: 1rem;
    background-color: #ffff;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    display: flex;
    justify-content: space-around;
}
.cartType div{
    /* border: 1px solid; */
    width: 15vw;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active_cart{
    color: #2874f0;
    border-bottom: 4px solid #2874f0;
}
.address{
    height: 11vh;
    margin-bottom: 1rem;
    background-color: #ffff;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.address button{
    padding: 15px 20px;
    color: #2874f0;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid #e0e0e0;
    background-color: #ffff;
    border-radius: 5px;
}
.cartItems{
    background-color: #ffff;
    /* border-radius: 5px 5px 0 0; */
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    border: 1px solid #ecebeb;
   padding: 1.5rem;
}
.cartItems div:first-child{
    display: flex;
}
.cartImg{
    width: 9vw;
    height: 20vh;
}
.cartImg img{
    width: 100%;
    margin: 10px 0;
    object-fit: contain;
}
.cartDetails{
    width: 35vw;
    padding: 0 1rem .5rem 1rem;
    /* border: 1px solid #e0e0e0; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cartDetails div:nth-child(1){
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.cartDetails div:nth-child(2){
   color: #878787;
   margin-top: -1rem;
}
.cartDetails div:nth-child(3){
    color: #878787;
    display: flex;
    align-items: center;
    gap: 10px;
}
.cartDetails div:nth-child(3) img{
    width: 4.5vw;
}
.cartPrice{
    display: flex;
    align-items: baseline;
    gap: 1rem;
}
.cartPrice span:nth-child(1){
    color: #878787;
    text-decoration: line-through;
}
.cartPrice span:nth-child(2){
    font-size: 1.2rem;
    font-weight: 500;
}
.cartPrice span:nth-child(3){
    color: #388e3c;
    font-weight: 500;
}
.deliveryFee span:first-child{
    color: #388e3c;
}
.deliveryFee span:last-child{
    color: #878787;
    text-decoration: line-through;
    margin-left: 10px;
}
.cartItemQnty{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 15px;
}
.qtybtn{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 9vw;
    /* border: 1px solid #e0e0e0; */
}
.qtybtn button{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e0e0e0;
    background-color: #ffff;
    cursor: pointer;
}
.qtybtn div{
    width: 3.5vw;
    height: 4.5vh;
    border: 1px solid #b3b1b1;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.removeDiv button{
    border: none;
    margin-right: 20px;
    background-color: #ffff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.removeDiv button:hover{
    color: #2874f0;
}
.orderBtn{
    background-color: #ffff;
    border-top: 1px solid #f0f0f0;
    box-shadow: 0 -2px 10px 0 rgba(0,0,0,.1);
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    bottom: 0;
}
.orderBtn button{
    width: 15vw;
    height: 8vh;
    background-color: #FB641B;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    border-radius: 4px;
    color: #ffff;
    font-size: 1rem;
    font-weight: 500;
    border: none;
}

.mainRight{
    background-color: #ffff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    border-radius: 4px;
    width: 30%;
    height: 60vh;
    position: sticky;
    top: 70px;
}
.priceDetails{
    padding: 1.5rem;
    color: #878787;
    font-size: 1rem;
    font-weight: 500;
    border-bottom: 1px solid #e0e0e0;
}
.itemsDetails{
  padding: 0 1.5rem;
  border-bottom: 1px solid #e0e0e0;
}
.itemsDetails div{
    display: flex;
    justify-content: space-between;
    margin: 1.7rem 0;
}
.itemsDetails div span{
    font-size: 1.1rem;
}
.itemsDetails div:last-child span{
    font-size: 1.2rem;
    font-weight: 550;
}
.border{
    border:1px solid #e0e0e0;
}
.discPrice{
    color: #388e3c;
}
.save{
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    color: #388e3c;
    font-weight: 500;
}