.mainAccDiv{
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
}
.mainAccLeft{
    width: 25%;
}

.userProfile{
    display: flex;
    height: 12vh;
    width: 100%;
    background-color: #ffff;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}
.userProfile div:first-child{
    width: 25%;
    padding: 8px;
}
.userName{
    width: 75%;
    padding: 5px;
}
.userName div:first-child{
    font-size: .9rem;
}
.userName div:last-child{
    font-weight: 500;
}
.userProfile img{
    width: 100%;
    height: 100%;
}
.leftBotmDiv{
    width: 100%;
    margin-top: .5rem;
    background-color: #ffff;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    height:auto;
}
.mainOrderDiv{
    border-bottom: 1px solid #eeeded;
    padding-bottom: 1rem;
}
.myorder{
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    font-size: .9rem;
    font-weight: 500;
    cursor: pointer;
    border-bottom: 1px solid #eeeded;
}

.myorder:hover{
    color: #2874f0; 
}
.acc{
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
   
}
.acc span:last-child{
    color: gray;
    font-weight: 500;
    font-size: 1rem;
}
.underAcc{
    padding: 1rem 0 1rem 4rem;
    font-size: .9rem;
}
.underAcc:hover{
   color: #2874f0;
   background-color: #f5faff;
   cursor: pointer;
}
.underAccActive{
    color: #2874f0;
    background-color: #f5faff;
}


  .navLink {
    text-decoration: none;
    color: black;
  }

/* right section style from here */

.mainAccRight{
    width: 75%;
}

/* profile info style from here */

.mainInfoDiv{
    padding: 1.5rem 2rem;
    background-color: #ffff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    border-radius: 4px;
}
.infoContainer{
    margin-bottom: 2rem;
}
.infoContainer div{
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.infoContainer span{
    font-size: 1.2rem;
    font-weight: 500;
}
.infoTitle button{
    background: none;
    border: none;
    color: #2874f0;
    font-size: 1rem;
    margin-left: 10px;
}
.inputDiv{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.inputDiv input[type='text']{
    width: 20vw;
    height: 3vh;
    padding: 20px 13px 0 16px;
}
.inputDiv button{
    padding: 1rem 2.5rem;
    background-color: #2874f0;
    border: none;
    border-radius: 3px;
    color: #ffff;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: -20px;
}
.delAcc{
  margin-top: 3rem;
}
.delAcc button{
    background: none;
    border: none;
    color: #2874f0;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 10px;

}

/* profile Info end */


/* Manage Address style from here  */

.mainAddressDiv{
    padding: 1.5rem 2rem;
    background-color: #ffff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    border-radius: 4px;
}
.mainAddressDiv div:first-child{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.assAddresDiv{
    border: 1px solid #e0e0e0;
    padding: 1rem;
    color: #2874f0;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    font-weight: 500;
    margin: 1.5rem 0;
}
.mangAddress{
    border: 1px solid #e0e0e0;
    padding: 1.5rem;
}
.home_more{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home_more span:first-child{
    padding: 3px;
    border-radius: 3px;
    background-color: #ebeaea;
    color: #898787;
}
.name_num{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}
.name_num span{
    font-size: 1rem;
    font-weight: 500;
}
/* addresForm style from here */

.addresFormWraperDiv{
   background-color: #f5faff;
   padding: 1rem 1.5rem;
   border: 1px solid #e0e0e0;
   margin-bottom: 1rem;
}
.addresFormWraperDiv div:first-child span{
    color: #2874f0;
}
.textFieldDiv{
    display: flex;
    gap: 15px;
    margin: 20px 0;
}
.textFieldDiv div{
    border: 1px solid #e0e0e0;
    width: 22vw;
    height: 9vh;
    background-color: #ffff;
}
.textFieldDiv input{
    border: none;
    padding-left: 1rem;
    width: 94%;
    height: 100%;
    font-size: 1rem;
}
.AreatextFieldDiv{
    width: 45.3vw;
}
.AreatextFieldDiv textarea{
    border: 1px solid #e0e0e0;
    resize: none;
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    width: 95%;
}
.addresTypeDiv span{
    color: #a3a3a3;
    font-size: .9rem;
}
.addresTypeDiv div{
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
.addresTypeDiv label{
    font-size: 1.1rem;
    font-weight: 100;
    cursor: pointer;
}
.save_can{
    margin-top: 2rem;
}
.save_can button:first-child{
    width: 17vw;
    height: 8vh;
    border: none;
    border-radius: 3px;
    background-color: #2874f0;
    color: #ffff;
    font-size: 1rem;
    margin-right: 3rem;
}
.save_can button:disabled{
    background-color: #2875f072;
    cursor: not-allowed;
}
.save_can button:last-child{
    border: none;
    background: none;
    color: #2874f0;
    font-size: 1rem;
    font-weight: 500;
}
.error{
    color: red;
    font-size: .8rem;
    margin-left: 10px;
    font-weight: 100;
}
/* Manage Address end */

/* my Review style from here */

.myReview{
    padding: 1.5rem 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #ffff;
    border-radius: 5px 5px 0 0;
}
.myReview span{
    color: #898787;
    font-size: 1.1rem;
}
.mainProductDiv{
    border-bottom: 1px solid #e0e0e0;
    padding: 1rem 2rem;
    display: flex;
    background-color: #ffff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}
.reviewImgDiv{
    width: 15%;
}
.reviewProDtlsDiv{
    width: 85%;
    padding: 0 1rem;
}
.reviewImgDiv div{
    width: 90%;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reviewImgDiv img{
    height: 90%;
    
}
.reviewProDtlsDiv div:first-child{
    color: #898787;
    font-size: .9rem;
}
.revRate{
   margin: .7rem 0;
}
.revRate span:first-child{
    /* background-color: green; */
    color: #fff;
     padding: 2px 4px;
     border-radius: 4px;
     margin-right: 15px;
     font-size: .8rem;
}
.revRate span:last-child{
    font-weight: 500;
    font-size: .9rem;
}
.reviewProDtlsDiv div:nth-child(4){
   color: #898787;
   font-size: .9rem;
   margin: .8rem 0;
}

.reviewProDtlsDiv button{
    background: none;
    border: none;
    color: #2874f0;
    font-size: 1rem;
    margin-right: 2rem;
}
.name_time{
    display: flex;
    gap: 5px;
    font-size: .8rem;
}
.name_time span{
    font-size: .8rem;
}
.name_time span:first-child{
    margin-left: 10px;
}
.name_time span:last-child{
    margin-left: 10px;
}
/* my Review end */

/* my wishlist style from here */

.wishProductDiv{
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    padding: 1rem 2rem;
    display: flex;
    cursor: pointer;
    background-color: #ffff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}
.wishProdImg{
    width: 20%;
}
.wishProdImg div{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wishProdImg img{
    height: 90%;
}
.wishProdDtls{
    width: 80%;
}
.wishProdDtls div:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.wishProdDtls div:first-child span{
    font-size: 1rem;
}
.wishRate{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}
.wishRate span:first-child{
    color: #fff;
     padding: 3px 5px;
     border-radius: 4px;
}
.wishRate img{
    height: 3.5vh;
}
.newpriceDiv{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;
}
.newpriceDiv div:first-child{
    font-size: 1.3rem;
    font-weight: 500;
}
.newpriceDiv span{
    color: green;
}
.oldPrice{
  text-decoration: line-through;
  color: gray;
}
/* my wishlist end */


/* my order style from here  ==> */

.orderProdImgDiv{
    width: 15%;
}
.orderProdImgDiv div{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
.orderProdImgDiv img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.orderProdName{
    width: 40%;
   
}
.orderProdName div:first-child{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: .9rem;
}
.orderProdName div:last-child{
    color: #a3a3a3;
    font-size: .8rem;
    margin-top: 10px;
}
.orderProdPrice{
    width: 15%;
    text-align: center;
    font-size: 1rem;
}
.orderProdStatus{
    width: 30%;
}
.orderProdStatus div:first-child{
    display: flex;
    align-items: center;
    gap: 10px;
}
.orderProdStatus div:first-child span{
    font-weight: 500;
    font-size: .9rem;
}
.orderProdStatus div:last-child{
 font-size: .8rem;
 margin: 10px 0;
}
.delivered{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* background-color: green; */
}
.cancelled{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: red;
}

/* my order end */

/* order details style from here ===> */

.addressDiv{
    padding: 1rem 2rem;
    background-color: #ffff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    border-radius: 3px;
}
.addressDiv div:first-child {
    margin-bottom: .5rem;
    font-size: 1rem;
    font-weight: 500;
}
.addressDiv div:nth-child(2) {
    margin-bottom: .5rem;
    font-size: .9rem;
    font-weight: 500;
}
.addressDiv p, span{
    font-size: .85rem;
}
.addressDiv div:last-child {
    font-size: .9rem;
    font-weight: 500;
    margin-top: .5rem;
}
.orCart{
    display: flex;
  margin-top: 1rem;
  padding: 0 1rem;
  background-color: #ffff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
  border-radius: 3px;

}

.odImgDiv{
width: 10%;
padding: 1rem;
cursor: pointer;
}
.odTitleDiv{
width: 30%;
padding: 1rem 0;
}
.odStatusDiv{
width: 60%;
padding: 1rem;
}
.odimg{
    width: 7vw;
    height: 18vh;
    padding: 0;
}
.odimg img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.odTitleDiv div:first-child{
  font-size: .9rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

}
.odTitleDiv div:nth-child(2){
    color: #898787;
    font-size: .8rem;
    margin: .5rem 0;
}
.odTitleDiv div:nth-child(3){
    color: #898787;
    font-size: .8rem;
}
.odTitleDiv div:last-child{
  font-size: 1rem;
  margin-top: .5rem;
  font-weight: 500;
}
.odStatus{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}
.odStatus span:first-child{
    color: green;
    
}
.odBar{
    padding: 1rem;
}
.odTime{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}
.odTime span:first-child{
    color: #898787;
}
.odTime span:last-child{
    font-weight: 600;
    font-size: .8rem;
}
.cancelBtn{
    margin-top: 1rem;
}
.cancelBtn button{
    background: none;
    border: none;
    color: #2874f0;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

/* tracking style here */
.prbar{
    display: flex;
    align-items: center;
}
.initalDot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    margin-right: -3px;
    z-index: 22;
}
.Prgssbar{
    width: 95%;
    height: 5px;
    background-color: #e6e6e6;
}
.Prgssbar_fill{
    height: 100%;
    /* width: 50%; */
    background-color: green;
    border-radius: 10px;
}
.lastDot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* background-color: #e6e6e6; */
    margin-left: -3px;
}

/* order details end */