.sellerWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
}
.formContainer{
    width: 60vw;
    height: 50vh;
   border-radius: 10px;
    background-color: #ffff;
    box-shadow: 0 10px 16px 0 rgba(1,1,0,.11);
    padding: 1rem;
}