.searchInput{
    height: 2.5rem;
    width: 30vw;
    padding: 0 1rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 2px 0 0 2px;

}
.logo{
    cursor: pointer;
    width: 6vw;
}
.imgDiv{
    display: flex;
    flex-direction: column;
}
.plusDiv{
    font-size: .7rem;
   color: #F0F0F0;
    font-style: italic;
}
.plusDiv span{
    font-size: .7rem;
    font-style: italic;
    color: #FFE500;
}
.plusDiv img{
    height: .7rem;
}
.logo_search{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.loginBtn{
    height: 2rem;
    width: 10vw;
    background-color: white;
    border: none;
    color: #1976D2;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 2px;
    cursor: pointer;
}
.searchDiv{
    display: flex;
}
.cart{
   margin-left: 15px;
   font-weight: 500;
   font-size: 1rem;
}
.cartdiv{
    cursor: pointer;
    font-weight: 500;
   font-size: 1rem;
}

/* login tippy style from here */


.mainLoginTDiv div{
    border-bottom: 1px solid #e0e0e0;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    /* align-items: center; */
}
.mainLoginTDiv div:last-child{
    border-bottom: none;
}
.mainLoginTDiv div img{
    margin-right: 10px;
}
.mainLoginTDiv div button{
    margin-left: 3rem;
    border: none;
    background-color: #ffff;
    color: #1976D2;
    font-size: 1rem;
    font-weight: 500;
}
.mainLoginTDiv div:hover{
    background-color: #fcfafa;
}

.wishlistItems{
    margin-left: 8rem;
    background-color: #f1f1f1;
    padding: 3px 5px;
    border-radius: 5px;
    color: #a7a7a7;
}

/* end */

/* login page style from here */

.loginMainContainer{
    width: 100%;
    height: 100%;
    display: flex;
}
.loginText{
    width: 40%;
    /* height: 85vh; */
    /* border: 1px solid red; */
    background-color: #2874F0;
    color: #ffff;
    padding: 2.5rem ;
    background-image: url('https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/login_img_c4a81e.png');
    background-repeat: no-repeat;
    background-position: bottom;

}
.loginText h1{
  font-size: 1.8rem;
  font-weight: 500;
}
.loginText p{
    margin-top: 20px;
    font-size: 1.1rem;
    color: #d8d8d8;
}
.loginFormDiv{
    width: 65%;
    padding: 2rem 3rem;
   position: relative;
}

.loginRequestBtn{
    width: 100%;
    margin-top: 20px;
    height: 8vh;
    background-color: #FB641B;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    border-radius: 4px;
    color: #ffff;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
.existBtn{
    font-size: 1rem;
    width: 100%;
    margin-top: 20px;
    height: 8vh;
    color: #2874F0;
    font-weight: 500;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border: none;
    border-radius: 5px;
    transition: box-shadow .2s ease;
    cursor: pointer;
}
.existBtn:hover{
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.12)
}
.terms{
    margin-top: 25px;
    color: gray;
    font-size: .9rem;
}
.terms span{
    color: #2874F0;
    font-size: .9rem;
}
.create{
 position: absolute;
 bottom: 2rem;
 left: 20%;
 color: #2874F0;
 font-weight: 500;
 cursor: pointer;
}
.changeBtn{
    background-color: #fff;
    color: #2874F0;
    border: none;
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 500;
}
.error{
    color: red;
    font-size: .8rem;
}
/* end */