*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}

input[type="text"]:focus {
    outline: none; /* Remove the default focus outline */
    border-color: #aaa; /* Change border color when focused */
    box-shadow: none; /* Remove any box shadow when focused */
}
input[type="checkbox"] {
    width: 15px;
    height: 20px;
    /* Add any other styling properties you want */
    margin-right: 15px;
    cursor: pointer;
  }
input[type="radio"] {
    /* width: 18px;
    height: 18px; */
    cursor: pointer;
  }
span{
    font-size: 15px;
}
body{
    background-color: #F1F3F6;
    /* overflow-x: hidden; */
}
h1{
   font-size: 1.2rem;
   font-weight: 500;
}
.carousel{
    padding: 10px 0;
}
.carousel img{
    height: 300px;
    /* width: 90%; */
}
li{
    list-style: none;
    /* margin-left: 10rem; */
    color: black;
}
td{
    color: #aaa;
}
button{
    cursor: pointer;
}