.product_main{
    padding: 10px;
    display: flex;
    gap: 10px;
}
.filterDiv{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    /* padding: 20px; */
    width: 20%;
    height: 100vh;
}
.productListDiv{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    /* border: 1px solid red; */
    width: 80%;
    height: 100vh;
}
.allFilters{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}