.product_main{
    padding: 1rem .5rem;
    display: flex;
    gap: 10px;
}
.filterDiv{
    width: 23%;
    height: auto;
}

.filterSpan{
    font-size: 1.1rem;
    font-weight: 500;
}
.productListDiv{
    width: 77%;
}
.allFilters{
    padding: 15px;
    border-bottom: 1px solid lightgray;
    background-color: white;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,.11);
}

.filterContainer{
    display: flex;
    flex-wrap: wrap;
    
}
.curFilter{
    padding: 8px 10px;
    background-color: #E0E0E0;
    border-radius: 3px;
    font-size: .7rem;
    cursor: pointer;
    margin: 5px;
}
.curFilter:hover{
    text-decoration: line-through;
}
.clrBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.priceDiv{
    border-bottom: 1px solid lightgray;
    padding: 15px;
    background-color: white;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,.11);
}
.assured{
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 20px;
    gap: 20px;
    background-color: white;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,.11);
}
.assured input{
    cursor: pointer;
}
.assured img{
    height: 25px;
}

.brandContainer{
    border-bottom: 1px solid lightgray;
    padding: 20px;
    background-color: white;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,.11);
}
.allBrand{
    margin: 15px 0;
   
}
.searchDiv{
    display: flex;
    align-items: center;
    border-bottom: 3px solid lightgray;
    margin: 10px 0;
}
.searchDiv input{
    width: 100%;
    border: none;
    padding: 0 10px;
}
.brandMap{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.brandMap label{
    font-size: .9rem;
}
.brandDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    /* border: 1px solid red; */
    height: 2rem;
}

/* Product List style from here */
.mainList{
     box-shadow: 0 10px 16px 0 rgba(0,0,0,.11);
     background-color: #ffff;
}
.productType{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 15px;
   
}
.upperDiv{
    border-bottom: 1px solid lightgray;
    /* box-shadow: 0 10px 16px 0 rgba(0,0,0,.11); */
    background-color: white;
}
.productType span{
    color: gray;
    font-size: .8rem;
}
.sortBy{
    padding: 0 15px;
    display: flex;
    gap: 1.5rem;
   
}
.sortBy span{
    font-size: 1rem;
    font-weight: 500;
}
.sortBy div{
    padding-bottom: 5px;
    cursor: pointer;
    font-weight: 400;
}
.active{
    color: #2874f0;
    border-bottom: 3px solid #2874f0; 
}

.proListDiv{
    display: flex;
    flex-wrap: wrap;
     /* border-bottom: 1px solid lightgray; */
     padding-bottom: 3rem;
}

.cart{
    /* border: 1px solid red; */
    padding: 1rem;
    width: 16vw;
    height: 65vh;
    transition: box-shadow .2s ease-in-out;
    cursor: pointer;
    position: relative;
}
.cart:hover{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,.11)
}
.imgDiv img{
   height: 100%;
   width: 100%;
   object-fit: contain;
   /* border: 1px solid red; */
}
.imgDiv{
    /* border: 1px solid red; */
    text-align: center;
    height: 40vh;
    position: relative;
    padding: .5rem;
}
.heart{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    /* border: 1px solid red; */
}
.discp{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: .8rem;
}
.gram{
    color: gray;
    font-size: 14px;
}
.rateDiv{
  display: flex;
 align-items: center;
 flex-wrap: wrap;
  gap: 1rem;
  padding: .5rem 0;
}
.rateDiv img{
    width: 6vw;
}
.rateDiv div{
    /* background-color: green; */
    color: #fff;
     padding: 2px 4px;
     border-radius: 4px;
     display: flex;
     align-items: center;
     gap: 2px;
     font-size: .8rem;
     
}

.newpriceDiv{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}
.newpriceDiv span{
    color: green;
}
.oldPrice{
  text-decoration: line-through;
  color: gray;
}

/* pagination style from here */

.pagination_container{
    border-top: 2px solid #E0E0E0;
    height: 10vh;
    display: flex;
    align-items: center;
    gap: 8rem;
    padding: .5rem 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination_container span{
    font-size: .9rem;
    font-weight: 400;
    position: absolute;
    left: 1rem;
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1rem;
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   width: 18px;
   height: 18px;
    border-radius: 50%;
    padding: .4rem;
    font-size: .8rem;
}
.activePage{
   
    background-color: #2874f0; 
    color: #fff;
}